<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row">
  <div class="large-12 columns">
    <div class="inner-wrap">
    <div class="fixed"> 
    <nav class='top-bar' data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'VR Shipmail', root_path%></h1>
        </li>
      </ul>
      <section class='top-bar-section'>
        <ul class="right">
          <% if !current_user %>
            <li class="devider"></li>
            <li class="active">
              <%= link_to 'Sign In', new_user_session_path %>
            </li>
            <li class="devider"></li>
            <li class="active">
              <%= link_to 'Sign Up', new_user_registration_path %>
            </li>
            <li class="devider"></li>
          <% else %>
            <li class="devider"></li>
            <li>
              <%= link_to full_name, edit_user_registration_path %>
            </li>
            <li class="devider"></li>
            <li class="active">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            </li>
            <li class="devider"></li>
          <% end %>
        </ul>
      </section>
    </nav>
</div>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
    <%= yield %>
      </div>
    </div>
  </div>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
